{% extends "@PSHome\\layout.html.twig" %}

{% block title %}
	
{% endblock %}

{% block body %}
	{% for message in app.session.flashbag.get('notice') %}

		<div class="alert alert-dismissible fade show alert-block fadeOutUp" role="alert">
			<strong>Notice</strong> {{ message }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% endfor %}
<div class='header container-fluid'>
	<div class='row'>
		<a class='col-md-8 offset-md-1' href="#">			
	 		<img src="{{ asset('assets/images/SourceGuard-logo.png') }}" width='100px' height='100px'/>
 			<span class="white">Source<span class='red'>Guard</span></span>
	 	</a>
		<div class="col-sm-6 offset-sm-6 col-md-3 offset-md-0 sign">
			<a href="http://localhost/ProtectSource/web/app_dev.php/login">Sign in</a>					
			<a href="http://localhost/ProtectSource/web/app_dev.php/register/">Sign up</a>
		</div>
	</div>
	<div class="col-md-10 offset-md-1 slogan">
		<p class="keep">Keep your sources safety</p>
		<span class="and">&</span>
		<p class="send">Send informations</p>
	</div>
	<div class="col-sx-12 col-md-1 offset-md-1 network">
		<img class="logo-hover" src="{{ asset('assets/images/facebook-logo-button.png') }}"/>
		<img class="logo-hover" src="{{ asset('assets/images/twitter.png') }}"/>
		<img class="logo-hover" src="{{ asset('assets/images/closed-envelope-circle.png') }}" />
	</div>
</div>

<container class="container-fluid">
	<div class="col-md-8 offset-md-2 section">
		<div class="presentation row">
			<h2><span class="lettrine">P</span>resentation</h2>
			<div class="content">
				<p>SecurGuard's objective is to protect journalists' data.
					 Initially, information is sent to the journalists concerned. 
					 They can then write articles using this information safely.</p>
				<img class="img-fluid float-right" src="{{ asset('assets/images/illustration.png') }}">
			</div>
		</div>
	</div>
</container>
<container class="container-fluid">
	<div class="join-us">
		<div class="col-md-9 offset-md-1">
			<p>Journalist ! <a href="http://localhost/ProtectSource/web/app_dev.php/register/">Sign-up !</a></p>
		</div>
	</div>
</container>
<container class="container-fluid">
	<div class="col-md-8 offset-md-2 section">
		<h2 class="col-md-12"><span class="lettrine">O</span>ur <span class="lettrine">A</span>dvices</h2>
		<ul>
			<li>Use the browser network : <u>Tor</u>.</li>
			<li>Use the operating system : <u>TailsOS</u>.</li>
			<li>Use the software platform : <u>SecureDrop</u>.</li>
			<li>Take care to be alone.</li>
			<li>And try to use a new network on your PC.</li>
		</ul>
		<div class="logo-advices row">
			<img class="col-md-12 col-lg-4" src="{{ asset('assets/images/logo-Tor.png') }}"/>
			<img class="col-md-12 col-lg-4" src="{{ asset('assets/images/logo-Tails.png') }}"/>
			<img class="col-md-12 col-lg-4" src="{{ asset('assets/images/logo-SecureDrop.png') }}"/>
		</div>
	</div>
</container>
<div class="information container-fluid">
	<div class="col-md-8 offset-md-2">
		<h2>Add information</h2>
		{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
		{{ form_errors(form) }}
		
		<div class="form-group">
			{{ form_label(form.keyProject, "Project key", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
			{{ form_errors(form.keyProject) }}
			<div class="input-group">
				{{ form_widget(form.keyProject, {'attr': {'class': 'form-control', 'aria-describedby': 'basic-addon2'}}) }}
				<div class="input-group-append">
            		<button class="btn info" type="button">
						<span class="oi oi-info">
							<span class="tooltiptext">To obtain a project key please contact a journalist already registered on SourceGuard								
							</span>
						</span>
					</button>
        		</div>
			</div>
		</div>
		<div class="form-group" id="text">
			{{ form_label(form.text, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
			{{ form_errors(form.text) }}
			{{ form_widget(form.text, {'attr': {'class': 'form-control', 'rows': '4'}}) }}
		</div>
		<div class="form-group send">
		{{ form_widget(form.Send, {'attr': {'class': 'btn btn-send'}}) }}
		</div>
		{{ form_row(form._token) }}
		{{ form_rest(form) }}
		{{ form_end(form) }}
	</div>
</div>
<div class='footer container-fluid'>
	<div class='row'>
		<div class="col-sx-12 col-md-3 offset-md-2 ">
			<img class="logo-hover" src="{{ asset('assets/images/facebook-logo-button.png') }}"/>
			<img class="logo-hover" src="{{ asset('assets/images/twitter.png') }}"/>
			<img class="logo-hover" src="{{ asset('assets/images/closed-envelope-circle.png') }}" />
		</div>
		<div class="col-xs-12 col-md-4 offset-md-2 contact">
			<a class='link' href="http://localhost/ProtectSource/web/app_dev.php/contact">Contact</a>
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	
{% endblock %}