{% extends "@PSHome\\layout.html.twig" %}

{% block title %}
	
{% endblock %}

{% block body %}

	<h3>Add information</h3>
	<div class="well">
		{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

			{{ form_errors(form) }}

			<div class="form-group">

				{{ form_label(form.keyProject, "Project Key", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
				{{ form_errors(form.keyProject) }}

				<div class="col-sm-4">
					{{ form_widget(form.keyProject, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>

			<div class="form-group" id="files">
				{{ form_label(form.files, "", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
				{{ form_errors(form.files) }}
				<div class="col-sm-4">
					{{ form_widget(form.files, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			

			{{ form_widget(form.Send, {'attr': {'class': 'btn'}}) }}


			{{ form_rest(form) }}
		{{ form_end(form) }}

{% endblock %}


