<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/bootstrap.4.0.0/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/base/css.css') }}" type="text/css" media="all"/>
		<link rel="stylesheet" href="{{ asset('assets/bootstrap.4.0.0/open-iconic-master/font/css/open-iconic-bootstrap.css') }}" type="text/css" media="all"/>
    </head>
    <body>
        {% block body %}{% endblock %}
		
		
		<script src="{{ asset('assets/js/jquery.3.3.1.js') }}"></script>
		<script src="{{ asset('assets/js/tether.1.2.4.js') }}"></script>
		<script src="{{ asset('assets/bootstrap.4.0.0/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}{% endblock %}

    </body>
</html>
